<!DOCTYPE html>
<html>

<head>
    <title>Carderon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="src/socketio.js"></script>
    <script src="src/scene.js"></script>
    <script src="src/gamescene.js"></script>
    <script src="src/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div id="title" v-if="isSeen">
            <img src="img/title_background.png">
            <img src="img/title.png" class="title">
        </div>
        <div id="start_scene" v-if="isSeen">
            <img src="img/make_room_table.png" @click.prevent="setScene('makeRoom_scene')" class="makeRoom_button">
            <img src="img/join_room_table.png" @click.prevent="setScene('joinRoom_scene')" class="joinRoom_button">
        </div>
        <div id="makeRoom_scene" v-if="isSeen">
            <div class="form" id="name">
                <img src="img/name_table.png">
                <div class="name_form">
                    <input placeholder="..." v-model="username" class="input">
                </div>
            </div>
            <img src="img/return.png" @click.prevent="setScene('start_scene')" class="return_button">
            <img src="img/check.png" @click.prevent="makeRoom(),setScene('waitRoom_scene')" class="check_button">
        </div>
        <div id="joinRoom_scene" v-if="isSeen">
            <div class="form" id="name">
                <img src="img/name_table.png">
                <div class="name_form">
                    <input placeholder="..." v-model="room_property.username" class="input">
                </div>
            </div>
            <div class="form" id="roomID">
                <img src="img/room_id_table.png">
                <div class="roomID_form">
                    <input placeholder="..." v-model.number="room_property.roomID" type="number" min="10000" max="99999"
                        class="input">
                </div>
            </div>
            <img src="img/return.png" @click.prevent="setScene('start_scene')" class="return_button">
            <img src="img/check.png" @click.prevent="joinRoom(),setScene('waitRoom_scene')" class="check_button">
        </div>
        <div id="waitRoom_scene" v-if="isSeen">
            <div class="form" id="wait_data">
                <img src="img/room_id_table.png" class="roomID_table">
                <img src="img/name_table.png" class="name_table">
                <p id="roomID">{{room_property.roomID}}</p>
                <p id="name">{{room_property.username}}</p>
            </div>
            <p id="wait_msg">対戦相手を待っています...</p>
            <img src="img/return.png" @click.prevent="setScene('start_scene')" class="return_button">
        </div>
        <div id="room_scene" v-if="isSeen">
            <div class="form" id="wait_data">
                <img src="img/room_id_table.png" class="roomID_table">
                <img src="img/name_table.png" class="name_table">
                <p id="roomID">{{room_property.roomID}}</p>
                <p id="name">{{getMyUsername}}</p>
            </div>
            <p id="msg">マッチングしました！</p>
            <p id="enemy_name">「　{{getEnemyUsername}}　」</p>
            <img src="img/return.png" @click.prevent="leaveRoom(),setScene('start_scene')" class="return_button">
            <img src="img/check.png" v-if="getIsHost()" @click.prevent="startGame()" class="check_button">
            <img src="img/kick.png" v-if="getIsHost()" @click.prevent="kickEnemy(),setScene('waitRoom_scene')"
                class="kick_button">
        </div>

        <div class="game_scene">
            <img src="img/game_background.png" id="background" v-if="isSeen">

            <div class="card_set" v-if="isSeen">
                <p>セットするカードを選んでください</p>
                <div class="card_list">
                    <div class="row">
                        <img src="img/spade-1.png" class="card" @click.prevent="clickCard('spade',1)"
                            :style="{visibility: (isUsed('spade',1))? 'visible': 'hidden'}">
                        <img src="img/clover-1.png" class="card" @click.prevent="clickCard('clover',1)"
                            :style="{visibility: (isUsed('clover',1))? 'visible': 'hidden'}">
                        <img src="img/heart-1.png" class="card" @click.prevent="clickCard('heart',1)"
                            :style="{visibility: (isUsed('heart',1))? 'visible': 'hidden'}">
                        <img src="img/diamond-1.png" class="card" @click.prevent="clickCard('diamond',1)"
                            :style="{visibility: (isUsed('diamond',1))? 'visible': 'hidden'}">
                    </div>
                    <div class="row">
                        <img src="img/spade-2.png" class="card" @click.prevent="clickCard('spade',2)"
                            :style="{visibility: (isUsed('spade',2))? 'visible': 'hidden'}">
                        <img src="img/clover-2.png" class="card" @click.prevent="clickCard('clover',2)"
                            :style="{visibility: (isUsed('clover',2))? 'visible': 'hidden'}">
                        <img src="img/heart-2.png" class="card" @click.prevent="clickCard('heart',2)"
                            :style="{visibility: (isUsed('heart',2))? 'visible': 'hidden'}">
                        <img src="img/diamond-2.png" class="card" @click.prevent="clickCard('diamond',2)"
                            :style="{visibility: (isUsed('diamond',2))? 'visible': 'hidden'}">
                    </div>
                    <div class="row">
                        <img src="img/spade-3.png" class="card" @click.prevent="clickCard('spade',3)"
                            :style="{visibility: (isUsed('spade',3))? 'visible': 'hidden'}">
                        <img src="img/clover-3.png" class="card" @click.prevent="clickCard('clover',3)"
                            :style="{visibility: (isUsed('clover',3))? 'visible': 'hidden'}">
                        <img src="img/heart-3.png" class="card" @click.prevent="clickCard('heart',3)"
                            :style="{visibility: (isUsed('heart',3))? 'visible': 'hidden'}">
                        <img src="img/diamond-3.png" class="card" @click.prevent="clickCard('diamond',3)"
                            :style="{visibility: (isUsed('diamond',3))? 'visible': 'hidden'}">
                    </div>
                </div>
                <div class="set_card_list">
                    <img v-bind:src="'img/' + cardImg1 + '.png'" class="card">
                    <img v-bind:src="'img/' + cardImg2 + '.png'" class="card">
                    <img v-bind:src="'img/' + cardImg3 + '.png'" class="card">
                </div>
                <img src="img/check_white.png" :style="!isSet3Cards? 'opacity:0.5': ''" @click.prevent="sendMyCards()"
                    class="check_button">
                <img src="img/redo_white.png" @click.prevent="resetCard()" class="redo_button">
            </div>

            <div class="wait_enemy_set" v-if="isSeen">
                <p>相手のカードセットを<br>待っています</p>
            </div>


            <div class="my_turn" v-if="isSeen">
                <div class="my_table">
                    <p>{{getRoomProperty().my_username}}</p>
                    <img src="img/my_table.png" class="my_table_image">
                    <div class="my_card_container">
                        <img :src="'img/' + cardImg1 + '.png'" class="card">
                        <img :src="'img/' + cardImg2 + '.png'" class="card">
                        <img :src="'img/' + cardImg3 + '.png'" class="card">
                    </div>
                </div>
                <div class="enemy_table">
                    <p>{{getRoomProperty().enemy_username}}</p>
                    <img src="img/enemy_table.png" class="enemy_table_image">
                    <div class="enemy_card_container">
                        <img src="img/card-back-red.png" class="card">
                        <img src="img/card-back-red.png" class="card">
                        <img src="img/card-back-red.png" class="card">
                    </div>
                </div>

                <div class="my_log">
                    <img src="img/log_table.png">
                    <div class="list">
                        <div v-for="(log, index) in my_logs" :key="index">
                            {{log}}
                        </div>
                    </div>
                </div>

                <div class="enemy_log">
                    <img src="img/log_table.png">
                    <div class="list">
                        <div v-for="(log, index) in enemy_logs" :key="index">
                            {{log}}
                        </div>
                    </div>
                </div>

                <div class="card_list">
                    <div class="row">
                        <img src="img/spade-1.png" class="card" @click.prevent="clickCard('spade',1)"
                            :style="[{visibility: (isUsed('spade',1))? 'visible': 'hidden'},{outline: (isSelected('spade',1))? '1px solid red': 'none'}]">
                        <img src="img/clover-1.png" class="card" @click.prevent="clickCard('clover',1)"
                            :style="[{visibility: (isUsed('clover',1))? 'visible': 'hidden'},{outline: (isSelected('clover',1))? '1px solid red': 'none'}]">
                        <img src="img/heart-1.png" class="card" @click.prevent="clickCard('heart',1)"
                            :style="[{visibility: (isUsed('heart',1))? 'visible': 'hidden'},{outline: (isSelected('heart',1))? '1px solid red': 'none'}]">
                        <img src="img/diamond-1.png" class="card" @click.prevent="clickCard('diamond',1)"
                            :style="[{visibility: (isUsed('diamond',1))? 'visible': 'hidden'},{outline: (isSelected('diamond',1))? '1px solid red': 'none'}]">
                    </div>
                    <div class="row">
                        <img src="img/spade-2.png" class="card" @click.prevent="clickCard('spade',2)"
                            :style="[{visibility: (isUsed('spade',2))? 'visible': 'hidden'},{outline: (isSelected('spade',2))? '1px solid red': 'none'}]">
                        <img src="img/clover-2.png" class="card" @click.prevent="clickCard('clover',2)"
                            :style="[{visibility: (isUsed('clover',2))? 'visible': 'hidden'},{outline: (isSelected('clover',2))? '1px solid red': 'none'}]">
                        <img src="img/heart-2.png" class="card" @click.prevent="clickCard('heart',2)"
                            :style="[{visibility: (isUsed('heart',2))? 'visible': 'hidden'},{outline: (isSelected('heart',2))? '1px solid red': 'none'}]">
                        <img src="img/diamond-2.png" class="card" @click.prevent="clickCard('diamond',2)"
                            :style="[{visibility: (isUsed('diamond',2))? 'visible': 'hidden'},{outline: (isSelected('diamond',2))? '1px solid red': 'none'}]">
                    </div>
                    <div class="row">
                        <img src="img/spade-3.png" class="card" @click.prevent="clickCard('spade',3)"
                            :style="[{visibility: (isUsed('spade',3))? 'visible': 'hidden'},{outline: (isSelected('spade',3))? '1px solid red': 'none'}]">
                        <img src="img/clover-3.png" class="card" @click.prevent="clickCard('clover',3)"
                            :style="[{visibility: (isUsed('clover',3))? 'visible': 'hidden'},{outline: (isSelected('clover',3))? '1px solid red': 'none'}]">
                        <img src="img/heart-3.png" class="card" @click.prevent="clickCard('heart',3)"
                            :style="[{visibility: (isUsed('heart',3))? 'visible': 'hidden'},{outline: (isSelected('heart',3))? '1px solid red': 'none'}]">
                        <img src="img/diamond-3.png" class="card" @click.prevent="clickCard('diamond',3)"
                            :style="[{visibility: (isUsed('diamond',3))? 'visible': 'hidden'},{outline: (isSelected('diamond',3))? '1px solid red': 'none'}]">
                    </div>
                </div>

                <div class="card_dummy_container">
                    <img :src="'img/' + cardDummy1 + '.png'" @click.prevent="setDummyCard(1)" class="card">
                    <img :src="'img/' + cardDummy2 + '.png'" @click.prevent="setDummyCard(2)" class="card">
                    <img :src="'img/' + cardDummy3 + '.png'" @click.prevent="setDummyCard(3)" class="card">
                </div>

                <img src="img/arrow.png" class="arrow">

                <img src="img/check_button.png" @click.prevent="sendCheckMessage()" class="card_check_button">
                <img src="img/challenge_button.png" @click.prevent="challenge()" class="card_challenge_button">
                <img src="img/redo_white.png" @click.prevent="resetDummyCard()" class="card_redo_button">

            </div>

            <div class="wait_calc" v-if="isSeen">
                <p>通信待機中...</p>
            </div>

            <div class="check_result" v-if="isSeen">
                <div class="check_result_card">
                    <img :src="'img/' + cardDummy1 + '.png'" class="card">
                    <img :src="'img/' + cardDummy2 + '.png'" class="card">
                    <img :src="'img/' + cardDummy3 + '.png'" class="card">
                </div>
                <p>{{message}}</p>
                <img src="img/finish_turn.png" @click.prevent="finishMyTurn()" class="finish_button">
            </div>

            <div class="challenge" v-if="isSeen">
                <div class="card_list">
                    <div class="row">
                        <img src="img/spade-1.png" class="card" @click.prevent="clickCard('spade',1)"
                            :style="{visibility: (isUsed('spade',1))? 'visible': 'hidden'}">
                        <img src="img/clover-1.png" class="card" @click.prevent="clickCard('clover',1)"
                            :style="{visibility: (isUsed('clover',1))? 'visible': 'hidden'}">
                        <img src="img/heart-1.png" class="card" @click.prevent="clickCard('heart',1)"
                            :style="{visibility: (isUsed('heart',1))? 'visible': 'hidden'}">
                        <img src="img/diamond-1.png" class="card" @click.prevent="clickCard('diamond',1)"
                            :style="{visibility: (isUsed('diamond',1))? 'visible': 'hidden'}">
                    </div>
                    <div class="row">
                        <img src="img/spade-2.png" class="card" @click.prevent="clickCard('spade',2)"
                            :style="{visibility: (isUsed('spade',2))? 'visible': 'hidden'}">
                        <img src="img/clover-2.png" class="card" @click.prevent="clickCard('clover',2)"
                            :style="{visibility: (isUsed('clover',2))? 'visible': 'hidden'}">
                        <img src="img/heart-2.png" class="card" @click.prevent="clickCard('heart',2)"
                            :style="{visibility: (isUsed('heart',2))? 'visible': 'hidden'}">
                        <img src="img/diamond-2.png" class="card" @click.prevent="clickCard('diamond',2)"
                            :style="{visibility: (isUsed('diamond',2))? 'visible': 'hidden'}">
                    </div>
                    <div class="row">
                        <img src="img/spade-3.png" class="card" @click.prevent="clickCard('spade',3)"
                            :style="{visibility: (isUsed('spade',3))? 'visible': 'hidden'}">
                        <img src="img/clover-3.png" class="card" @click.prevent="clickCard('clover',3)"
                            :style="{visibility: (isUsed('clover',3))? 'visible': 'hidden'}">
                        <img src="img/heart-3.png" class="card" @click.prevent="clickCard('heart',3)"
                            :style="{visibility: (isUsed('heart',3))? 'visible': 'hidden'}">
                        <img src="img/diamond-3.png" class="card" @click.prevent="clickCard('diamond',3)"
                            :style="{visibility: (isUsed('diamond',3))? 'visible': 'hidden'}">
                    </div>
                </div>
                <div class="set_card_list">
                    <img v-bind:src="'img/' + cardImg1 + '.png'" class="card">
                    <img v-bind:src="'img/' + cardImg2 + '.png'" class="card">
                    <img v-bind:src="'img/' + cardImg3 + '.png'" class="card">
                </div>
                <img src="img/challenge_button.png" :style="!isSet3Cards? 'opacity:0.5': ''"
                    @click.prevent="sendMyCards()" class="challenge_send_button">
                <img src="img/redo.png" @click.prevent="resetCard()" class="challenge_redo_button">
                <p class="cross" @click.prevent="halt()">x</p>
            </div>

            <div class="challenge_result" v-if="isSeen">
                <div class="challenge_result_card">
                    <img :src="'img/' + cardDummy1 + '.png'" class="card">
                    <img :src="'img/' + cardDummy2 + '.png'" class="card">
                    <img :src="'img/' + cardDummy3 + '.png'" class="card">
                </div>
                <p>{{message}}</p>
                <img src="img/finish_turn.png" @click.prevent="finishMyTurn()" class="finish_button">
            </div>

            <div class="enemy_turn" v-if="isSeen">
                <p>相手のターン</p>
                <p>相手の行動を待っています</p>
            </div>

            <div class="game_result" v-if="isSeen">
                <div class="back">
                    <div class="my">
                        <p>{{getMyUsername()}} のカード</p>
                        <img src="img/my_result.png" class="board">
                        <div class="my_card">
                            <img :src="'img/' + myCard1 + '.png'" class="card">
                            <img :src="'img/' + myCard2 + '.png'" class="card">
                            <img :src="'img/' + myCard3 + '.png'" class="card">
                        </div>
                    </div>
                    <div class="enemy">
                        <p>{{getEnemyUsername()}} のカード</p>
                        <img src="img/enemy_result.png" class="board">
                        <div class="enemy_card">
                            <img :src="'img/' + enemyCard1 + '.png'" class="card">
                            <img :src="'img/' + enemyCard2 + '.png'" class="card">
                            <img :src="'img/' + enemyCard3 + '.png'" class="card">
                        </div>
                    </div>
                    <p class="message">{{message}}</p>
                    <img src="img/return.png" @click.prevent="setScene('start_scene')" class="result_return_button">
                </div>
            </div>
        </div>
    </div>
    <div class="inst">
        <h2>Carderon ルール説明</h2>
        <div class="content">
            このゲームは、限られたカードを使って相手がセットした<span style="font-size: 20px; color: red;">3枚</span>のカードの内訳を見破る推理ゲームです。
            <h4>カードのセット</h4>
            はじめに自身のカードをセットします。リストをクリックすると順番に3枚のカードをセットできます。<br>
            同じカードを2か所以上セットすることはできません。<span style="text-decoration: underline;">またセットしたカードはチェックにも使用できません(後述)。</span><br>
            <img src="inst/card_set.png">

            <h4>メイン画面</h4>
            自分のターン中にできる行動は以下の2つのうち<span style="font-size: 20px; color: red;">いずれか1つ</span>になります。
            <ul>
                <li>チェック　 : 相手のカード1枚のヒントを得る</li>
                <li>チャレンジ : 相手のカード3枚を推測する</li>
            </ul>
            <img src="inst/main_window.png">

            <h4>チェック</h4>
            相手のセットされたカード3枚のうち<span style="font-size: 20px; color: red;">1枚</span>に対してヒントを得ることができます。<br>
            まず、リスト中のいずれかのカードを1枚選択した後、下部にあるチェックリストのうち調べたい場所のカード枠を1つ選択します。<br>
            <img src="inst/check_set.png"><br>
            この状態でチェックボタンを押すと結果が表示されます。チェックカードと同じ場所にある相手カードについて、
            チェックカードとマークも数字も同じであった場合<span
                style="font-size: 20px; font-weight: bold;">"Match"</span>が、どちらか片方だけが合っている場合<span
                style="font-size: 20px; font-weight: bold;">"Near"</span>が、
            どちらも合っていない場合<span style="font-size: 20px; font-weight: bold;">"Miss"</span>が結果として返ってきます。<br>
            <img src="inst/check_result.png"><br>
            チェックでは同じカードは1回しか使えず、また自身がセットしたカード3枚も使用することができません。
            そのため、相手がチェックに使用したカードは相手のカード3枚を推測するカギとなります。

            <h4>チャレンジ</h4>
            相手のカード3枚をすべて推測します。3枚ともすべてのカードが当たっていた場合、ゲームに勝利することができます。<br>
            右下のチャレンジボタンを押すと専用画面が表示されます。<br>
            <img src="inst/challenge_button.png"><br>
            チャレンジ画面ではすべてのカードから3枚選ぶことができます。リストから1枚ずつ選択すると左から順にカードをセットします。<br>
            この状態で決定ボタンを押すとチャレンジの結果が表示されます。<br>
            <img src="inst/challenge_set.png"><br>
            3枚のうちいずれか1つでも間違っていた場合、チャレンジは失敗となり、相手のターンに移ります。<br>
            またチャレンジは<span style="font-size: 20px; color: red;">2回失敗するとゲームに敗北します。</span><br>
            <img src="inst/challenge_result.png"><br>
            3枚のカードのマークおよび数字がすべて合っていた場合、ゲームに勝利し、リザルト画面が表示されます。<br>
            <img src="inst/game_result.png">

            <h4>ログ</h4>
            自分や相手のチェック・チャレンジの結果は簡易的にログに出力されます。チェックではMatchを〇、Nearを△、Missを✕とし表示しています。
            またチャレンジではどのカード3枚を使ってミスしたかが表示されます。<br>
            <img src="inst/log.png">
        </div>
    </div>
</body>

</html>